* {  box-sizing: border-box;
}

#subtitle {
  text-align: center;
}

#cont {
  box-sizing: border-box;
  padding: 5%;
  position: static;
}

body {
  background-color: #ede7f6;
}

#footCon {
  color: white;
}

#footCon:hover {
  padding-top: 1%;
  color: #EDE7F6;
}

.footCon {
  color: white;
}

.footCon:hover {
  padding-top: 1%;
  color: #EDE7F6;
}

#bpm {
  color: #7B1FA2;
}

#indicator, #indicator2, #indicator3, #indicator4 {
border: 2px hidden black;
background-color: #9575cd;
border-radius: 70%;
width:25%;
padding-bottom: 25%;
position: relative;
}

#indicator:active {
  padding-bottom: 24.5%;
  width:24.5%;
  margin-bottom:0.5%;
  margin-right: 0.5%;
}

#indicator2:active {
  padding-bottom: 24.5%;
  width:24.5%;
  margin-bottom:0.5%;
  margin-right: 0.5%;

}

#indicator3:active {
  padding-bottom: 24.5%;
  width:24.5%;
  margin-bottom:0.5%;
  margin-right: 0.5%;
  border-width: 0.5%;

}

#indicator4:active {
  padding-bottom: 24.5%;
  width:24.5%;
  margin-top: 0.5%;
  border-width: 0.5%;
  margin-left: 0.5%;
}

#cont {
  padding-bottom: 2%;
}

#controls {
margin-left: 7%;
padding-bottom: 13%;
}

#control4 {
  padding-left: 8%;
}

#tech {
  margin:auto;
  padding-bottom: 13%;
}
